.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 2rem, 4rem, 4rem;
  justify-content: center;

  background-image: linear-gradient(
      to bottom right,
      rgba(10, 8, 35, 0.85),
      rgba(10, 8, 35, 0.55)
    ),
    url("../../assets/img/library-bg2.jpg");

  background-size: cover;
  background-position: center;
  color: white;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.7)
  );
}

.content {
  max-width: 1000px;
  width: 100%;
  font-family: var(--font-title);
  position: relative;
  z-index: 1;
}

.content h1 {
  font-size: 5.5rem;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  width: 100%;
  text-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
}

.content p {
  font-size: 2.5rem;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.titleLeft {
  align-self: flex-start;
}

.titleRight {
  align-self: flex-end;
}

.logo {
  width: 300px;
  height: 150px;
  align-self: center;
  filter: drop-shadow(0 8px 20px rgba(0, 0, 0, 0.6));
}
