.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 4rem;

  background-image: linear-gradient(
      to bottom right,
      rgba(20, 14, 60, 0.75),
      rgba(20, 14, 60, 0.2)
    ),
    url("../../assets/img/library-bg2.jpg");

  background-size: cover;
  background-position: center;
  color: white;
}

.content {
  max-width: 700px;
  width: 100%;
}

.content h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  width: 100%;
}

.titleLeft {
  align-self: flex-start;
}

.titleRight {
  align-self: flex-end;
}
